#index_body {
    margin: 20px 200px;
}

#display_image {
    width: 100%;
    min-width: 250px;
    height: 90%;
}

.container {
    margin-top: 50px;
}

.image_list {
    width: 340px;
}

.content {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    max-width: 55%;
}

.content > p {
    display:inline-flex;
}

.imagewrapper .quote {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 80px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    text-shadow: black 0.1em 0.1em 0.2em
}

.boxwrapper {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.box {
    background-color: #708E8C;
    box-shadow: 5px 7px 20px #888888;
    margin: 20px 20px;
    display: inline-block;
    min-width: 250px;
    height: auto;
}

#about, #services {
    width: 35%;
}

#contact {
    width: calc(70% + 45px);
    margin-top: 20px;
}
