#display_image {
    width: 100%;
    min-width: 250px;
    height: 90%;
    margin: 0;
}

.container {
    margin-top: 50px;
}

.image_list {
    width: 340px;
}

.content {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    max-width: 52%;
}

.content > p {
    display:inline-flex;
}

@media only screen and (max-width: 900px) {
    .content {
        max-width: 43%;
    }
}

@media only screen and (max-width: 780px) {
    .content {
        max-width: 85%;
    }

    .container {
        text-align: center;
    }

    .content {
        text-align: left;
    }
}

@media only screen and (max-width: 400px) {
    .content {
        max-width: 100%;
        display: block;
        margin-left: 0;
    }
}