body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.body_container {
    margin: 20px 200px;
    overflow-x: hidden;
    clear: both;
}

h1 {
    font-family: 'Maisha', cursive;
    font-size: 112px;
    font-weight: normal;
    margin-top: unset;
    line-height: 178px;
    display: inline-block;
    margin-bottom: -15px;
    color: #505050
}

h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 200;
}

#h2_classes {
    margin-top: 0;
}

h3 {
    text-transform: uppercase;
    color: grey;
    letter-spacing: 3px;
}

h4 {
    font-weight: 200;
}

p {
    line-height: 25px;
}

@font-face {
    font-family: Nolean;
    src: url("fonts/noelanscript.otf") format("opentype");
}

@font-face {
    font-family: Maisha;
    src: url("fonts/maisha script Demo.otf") format("opentype");
}

@font-face {
    font-family: Yolan;
    src: url("fonts/Yolan Script Demo.otf") format("opentype");
}

#header {
    text-align: center;
    margin-bottom: 50px;
}

#logo {
    display:inline-block;
    width: 120px;
    min-width: 0;
}

.nav-bar {
    text-align: center;
    letter-spacing: 4px;
    font-size: large;
    padding-top: 20px;
}

.nav-bar > ul > li {
    text-align: center;
    display: inline;
    list-style: none;
}

.nav-bar > ul > li > a {
    text-decoration: none;
    padding: 0 10px;
    color: black;
}

.nav-bar > ul > li > a:hover {
    color: darkcyan;
    text-decoration: underline;
    font-size: larger;
}

#arrow {
    margin: 1px;
}

#currentpage {
    color: darkcyan;
    font-size: larger;
    margin: 0;
}

.dropbtn {
    background-color: white;
    padding: 16px;
    font-size: large;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 4px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 169px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: darkcyan;
    text-decoration: underline;
    font-size: larger;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: darkcyan;
    font-size: larger;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    display: inline-block;
    padding-bottom: 2px;
}

.arrow-down:hover .dropbtn {
    color: darkcyan;
}

.form_wrapper {
    text-align: center;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    width: 300px;
    display: inline-block;
    margin: auto;
    vertical-align: top;
    text-align: left;
}

/* Full-width inputs */
input, select {
    width: 100%;
    padding: 4px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* Set a style for all buttons */
.form_button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.form_button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.form_container {
    padding: 16px;
    background-color: #f1f1f1;
}

.index_container {
    padding: 16px 0;
}

.message {
    color: firebrick;
}

#validated {
    color: darkgreen;
}

#or {
    display: inline-block;
    color: grey;
    margin: 100px;
}

#display_image {
    width: 100%;
    min-width: 250px;
    height: 90%;
    margin: 0;
}

.image_list {
    width: 340px;
    vertical-align: bottom;
}

.container {
    margin: 30px 0;
}

.content {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    max-width: 52%;
}

.content > h3 {
    margin-bottom: 0;
}

.content > p {
    display:inline-flex;
}

#testimonials {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.testimonial {
    max-width: 350px;
    margin: 20px;
}

#piyo {

}

.classimg {
    width: 65%;
    margin-bottom: 50px;
}

#img_right {
    float: right;
}

#img_left {
    float: left;
    margin-right: 50px;
}

.class_content {
    display: inline-block;
    max-width: 25%;
    min-width: 250px;
    vertical-align: top;
}

.arial_content {
    margin-left: 50px;
}

#arial_container {
    clear: both;
}



@media only screen and (max-width: 1200px) {
    .body_container {
        margin: 20px 50px;
    }
}

@media only screen and (max-width: 1004px) {
    #instructor_classes {
        float: none;
        max-width: 100%;
        margin: 0;
    }

    #instructor_classes tbody {
        display: table-row-group;
    }

    #schedule_class {
        float:none;
        text-align: center;
        display: inherit;
    }

    h3 {
        text-align: left;
    }

    #display_image {
        height: auto;
    }

}

@media only screen and (max-width: 960px) {
    #or {
        margin: 100px 50px;
    }
}

@media only screen and (max-width: 900px) {
    .content {
        max-width: 43%;
    }
}

@media only screen and (max-width: 860px) {
    #or {
        margin: 100px 20px;
    }
}

@media only screen and (max-width: 800px) {
    #or {
        display: block;
        margin: 50px;
    }
}

@media only screen and (max-width: 780px) {
    .content {
        max-width: 85%;
        margin: 20px 0;
    }

    .container {
        text-align: center;
    }

    .content {
        text-align: left;
    }

    .image_list {
        width: 99%;
    }

    #facebook, #twitter, #instagram, #gmail, #number {
        font-size: xx-large;
        margin: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .content {
        max-width: 100%;
        display: block;
        margin-left: 0;
    }

    .body_container {
        margin: 20px 10px;
    }

    #facebook, #twitter, #instagram, #gmail, #number {
        margin: 10px;
    }

    h1 {
        font-size: 85px;
        line-height: normal;
        margin-top: 30px;
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }

    h1 {
        font-size: 60px;
        line-height: normal;
        margin-top: 20px;
    }

    #logo {
        width: 100px;
    }
}