#calendar {
}

.login_button {
    font-size: large;
    margin: 20px 0;
    padding: 10px 15px;
    border: none;
    background-color: darkseagreen;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
}

#logout_button {
    background-color: indianred;
}

#login_icon {
    margin: 0;
}

#delete_icon {
    margin: 0;
    color: indianred;
}

input {
    box-sizing: border-box;
    height: 2.1em;
    padding: 0 .6em;
    font-size: 1em;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

#hello_message {
    display: inline-block;
    margin-right: 10px;
}

#banner {
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
