#calendar {
    margin-top: 50px;
}

.login_button {
    font-size: large;
    padding: 10px 15px;
    border: none;
    background-color: darkseagreen;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
}

#logout_button {
    background-color: indianred;
}

#login_icon {
    margin: 0;
}

#delete_icon {
    margin: 0;
    color: indianred;
}

input {
    box-sizing: border-box;
    padding: 0 .6em;
    font-size: 1em;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

#hello_message {
    display: inline-block;
    margin-right: 10px;
}

#banner {
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.custom-select {
    padding: 5px 12px;
    font-family: 'Nunito', sans-serif;
}

#link_form {
    border: none;
    text-align: right;
    width: 100%;
    color: blue;
}

#link {
    text-align: right;
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid blue;
    cursor: pointer;
}

#instructor_classes {
    float: left;
    max-width: 60%;
    margin-right: 50px;
}

#schedule_class {
    float: right;
    display: inline-block;
}

h2 {
    clear: both;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 3px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.collapse_content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}