body {
    margin: 0;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 112px;
    font-weight: normal;
    margin-top: unset;
    line-height: 178px;
}

#header {
    text-align: center;
}

#logo {
    display:inline;
    width: auto;
    height: auto;
    min-width: 0;
}

.nav-bar {
    text-align: center;
    letter-spacing: 4px;
    font-size: large;
    padding-top: 20px;
}

.nav-bar > ul > li {
    text-align: center;
    display: inline;
    list-style: none;
}

.nav-bar > ul > li > a {
    text-decoration: none;
    padding: 0 10px;
    color: black;
}

.nav-bar > ul > li > a:hover {
    color: darkcyan;
    text-decoration: underline;
    font-size: larger;
}

#currentpage {
    color: darkcyan;
    font-size: larger;
}