body {
    margin: 0;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 112px;
    font-weight: normal;
    margin-top: unset;
    line-height: 178px;
}

#header {
    text-align: center;
}

#logo {
    display:inline;
    width: auto;
    height: auto;
    min-width: 0;
}

.nav-bar {
    text-align: center;
    letter-spacing: 4px;
    font-size: large;
    padding-top: 20px;
}

.nav-bar > ul > li {
    text-align: center;
    display: inline;
    list-style: none;
}

.nav-bar > ul > li > a {
    text-decoration: none;
    padding: 0 10px;
    color: black;
}

.nav-bar > ul > li > a:hover {
    color: darkcyan;
    text-decoration: underline;
    font-size: larger;
}

#currentpage {
    color: darkcyan;
    font-size: larger;
}

.dropbtn {
    background-color: white;
    padding: 16px;
    font-size: large;
    font-family: initial;
    letter-spacing: 4px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: darkcyan;
    text-decoration: underline;
    font-size: larger;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
    color: darkcyan;
    font-size: larger;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    display: inline-block;
    padding-bottom: 2px;
}