img {
    width: 100%;
    min-width: 250px;
    height: 90%;
}

.imagewrapper::after {
    content: "";
    clear: both;
    display: table;
}

.image {
    float: left;
    width: 25%;
    opacity: 0.8;
}

.imagewrapper .quote {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 80px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    text-shadow: black 0.1em 0.1em 0.2em
}

.boxwrapper {
    text-align: center;
    margin: 40px;
}

.box {
    background-color: #6998A5;
    margin: 20px 20px;
    display: inline-block;
    min-width: 250px;
    height: auto;
}

#about, #services {
    width: 35%;
}

#contact {
    width: calc(70% + 45px);
    margin-top: 20px;
}

h2 {
    margin: 0;
    text-align: left;
    padding: 12px 12px;
}

p {
    padding: 8px 8px;
}